<html lang="en">

	<head>
		
		<title>Encrpytion Made Simple</title>
		<!-- METADATA -->
		<meta charset="UTF-8">		
        <!-- STYLES -->
        
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
		<link rel="stylesheet" href="stylesheets/main.css"/>
        <link rel="icon" type= "image/png" href="/images/painterly.png" />
	</head>
	
	<body>
        <div class="ui navbar stackable inverted menu"></div>
    
        <div class ="ui main text container">
		    
                <div class="ui large header title">Shade</div>
                
                <div class="image">
                        <img src= "/images/painterly.png">
                </div>
                
                <div class="description" id="opening-statement">
                    
                    <p>
                        Upload you 
                        </p>
                        
                    <a class="huge ui inverted floated right labeled icon button" href="/about">
                        Upload
                        <i class="right arrow icon"></i>
                    </a>
    
                </div>
            
    </div>
    
    </body>